* {
    margin: 0;
    padding: 0;

}
body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/TazaDeCafe.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
header {
    background-color: burlywood;
    border: 5px black solid;

}
nav ul li {
    font-size: 20px;
    list-style: none;
    display: inline;
    border: 3px black solid;
    border-radius: 30px;
    background-color: #EDBB99 ;
    margin: 5px;
    padding: 3px; 
    cursor: pointer;
}
nav ul li:hover {
    font-size: 25px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    
}
h3 {
    margin: 20px;

}
footer {
    margin-top: 5px;
    border-top: 5px black solid;
    background: burlywood
 }

.logoSonrie {
    width: 150px;
}
.tituloDePagina {
    text-align: center;
    font-size: 70px;
    margin: 50px;
    text-decoration-line: underline;
}
.parrafoUno {
    text-align: left;
    border: 5px black solid;
    border-radius: 10px;
    background-color: burlywood;
    font-size: 20px;
    margin: 30px;
}

.slide {
    display: flex;
    margin: 10px;
    height: 61vh;
    width: 61vh;
    border: 5px black solid;
    border-radius: 5px;
}
.slide img {
    height: 60vh;
    width: 60vh;
}

.card {
    margin: 20px;
    padding: 20px;
    border: 5px black solid;
    background-color: burlywood;
    cursor: pointer;
}

.card-img-top {
    height: 250px;
}

.tarjeta {
    display: flex;
    justify-content: space-between;
}
.formularioContacto {
    margin-top: 20px;
    margin: 10px;
    border: 5px black solid;
    background-color: burlywood;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}
input [type=text],
textarea {
    display: flex;
    width: 99%;
    padding: 10px;
    margin: 5px;
    border: 3px black solid;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 10px;
}
.botones {
    background-color:#EDBB99;
    color: black;
    border: 3px black solid;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
}
.botones:hover {
    font-size: 25px;
}